@model IEnumerable<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategoriler</h1>

<table class="table table-bordered table-hover">


    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CategoryName</td>
            <td>
                <a class="btn btn-danger" href="/Category/DeleteCategory/@item.Id" 
                onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a>
                <a class="btn btn-info" href="/Category/UpdateCategory/@item.Id">Güncelle</a>
            </td>
        </tr>
    }


</table>
<a class="btn btn-dark" href="/Category/CreateCategory">Yeni Kategori Oluştur</a>