@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürün Güncelle</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Ürün Adı</label>
    <input type="text" asp-for="ProductName" class="form-control" required />
    <br />
    <label>Ürün Görsel Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" required />
    <br />
    <label>Güncel Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" required />
    <br />
    <label>Orijinal Fiyat</label>
    <input type="text" asp-for="OriginalPrice" class="form-control" required />
    <br />
    <label>Kategori</label>
    <select asp-for="CategoryId" class="form-control" required asp-items="@ViewBag.categories">
        <option selected>---Kategori Seçiniz---</option>

    </select>
    <br />
    <button class="btn btn-dark">Güncelle</button>
</form>